@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('/images/toronto.jpg');
    background-size: cover;
    -webkit-font-smoothing: antialiased; 
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(238, 231, 231);
}

header{
    padding: 2rem 2rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button{
    outline: none;
    border: none;
    border-radius: 1rem;
    background: rgba(66, 64, 64, 0.815);
    font-size: 1rem;
    padding: .6rem;
}

.task-container{
    position: absolute;
    background-color: rgba(71, 67, 67, 0.644);
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1em;
    padding: 2em;
}

#new-task{
    display: flex;
    justify-content: space-evenly;
}

#new-task-submit{
    color: rgb(23, 168, 23);
    background-color: rgba(221, 215, 215, 0.644);
    border-radius: 50%;
    width: 2.5rem;
    transition: 0.3s;
    cursor: pointer;
}

#new-task-submit:hover{
    color: rgb(221, 215, 215);
    background-color: rgba(23, 168, 23, 0.644);
}

.task-list{
    transform: translate(10%,10%);
}

main{
    padding-top: 1rem;
    margin-left: -2rem;
	max-width: 800px;
	width: 100%;
}

main h2{
    font-size: 1.5rem;
    font-weight: 300;
}

.task{
    margin-top: 1.4rem;
    display: flex;
    flex-direction: row;
}

.text{
    color: rgba(197, 193, 193, 0.863);
    background: rgba(34, 33, 33, 0.89);
}

.edit{
    margin: 0 2rem;
    border-radius: 50%;
    width: 2.5rem;
    background: ;
}

.delete{
    margin: 0 -1rem;
    border-radius: 50%;
    width: 2.5rem;
    background-color: rgba(221, 215, 215, 0.644);
    transition: 0.3s;
}

.delete:hover{
    color: rgba(221, 215, 215);
    background-color: rgb(168, 23, 30, 0.644);
}
